<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Sobre o Projeto</h5>
        <p>
          Iniciativa dedicada a promover a igualdade salarial de gênero no
          mercado de trabalho brasileiro.
        </p>
      </div>
      <div class="col-md-3">
        <h5>Links Úteis</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-light">Política de Privacidade</a>
          </li>
          <li><a href="#" class="text-light">Termos de Uso</a></li>
          <li><a href="#" class="text-light">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Redes Sociais</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Facebook</a></li>
          <li><a href="#" class="text-light">Twitter</a></li>
          <li><a href="#" class="text-light">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
