<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm position-fixed top-0 start-0 end-0 z-1">
    <div class="container">
      <a class="navbar-brand text-purple fw-bold" href="#">CareerConnect+</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/mentoria.html">Mentoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/comunidade.html">Comunidade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/sobre.html">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
</nav>